 <!--Main Navigation-->
<header>
    
  
  <!-- Heading -->
  <div class="bg-primary mb-4">
    <div class="container py-2">
      <h3 class="text-white mt-2">{{currentCategoryName}}</h3>
    </div>
  </div>
  <!-- Heading -->
</header>

<!--  content -->
<section style="padding-left: 8%;">
  <div class="container">
    <div class="row">
     
     


      <!-- content -->
      <div class="col-lg-11">
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">{{length}} Items found </strong>
          <!-- Pagination -->
          <nav aria-label="Page navigation example" class="d-flex justify-content-center ml-3" style="padding-left: 50px;">
            <mat-paginator #paginator
                class="demo-paginator"
                (page)="updatePageSize($event)"
                [length]="length"
                [pageSize]="pageSize"
                [showFirstLastButtons]="showFirstLastButtons"
                [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                [hidePageSize]="hidePageSize"
                [pageIndex]="pageIndex"
                aria-label="Select page">
            </mat-paginator>
          </nav>
        <!-- Pagination -->
          <div class="ms-auto">
            <select class="form-select d-inline-block w-auto border pt-1">
              <option value="0">Best match</option>
              <option value="1">Recommended</option>
              <option value="2">High rated</option>
              <option value="3">Randomly</option>
            </select>
            <div class="btn-group shadow-0 border">
              <a  class="btn btn-light" title="List view">
                <i class="fa fa-bars fa-lg"></i>
              </a>
              <a  class="btn btn-light active" title="Grid view">
                <i class="fa fa-th fa-lg"></i>
              </a>
            </div>
          </div>
        </header>

        <div class="row" >
          <div class="col-sm-3 d-flex" *ngFor="let tempProduct of products">
            <div  >
              <a routerLink="/products/{{ tempProduct.id }}">
                <img  src="{{ tempProduct.imageUrl }}" class="card-img-top" />
              </a> 
              <div class="card-body ">
                <div class="d-flex flex-row">
                  <h5 class="mb-1 me-1">{{ tempProduct.unitPrice | currency:'USD'}}</h5>
                </div>
                <p class="card-text">{{ tempProduct.name}}</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a (click)="addToCart(tempProduct)" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                  <a  class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
            No Products Found
        </div>
        </div>

        <hr />

        
        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
          <mat-paginator #paginator
               class="demo-paginator"
               (page)="updatePageSize($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
               [hidePageSize]="hidePageSize"
               [pageIndex]="pageIndex"
               aria-label="Select page">
          </mat-paginator>
        </nav>
        <!-- Pagination -->
      </div>
    </div>
  </div>            
</section>
<!-- sidebar + content -->

  