<!--Main Navigation-->
<div>
  <mat-toolbar color="primary" class="app-toolbar" *ngIf="showHead">
    <mat-toolbar-row>
      <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <div >
        <a routerLink="home">
          <img  src="assets/images/logo.png"  style="height:85px;" class="img-responsive">
        </a>
      </div> 
      <span class="example-spacer"></span>
      
      <div class="container" >
        <div class="row gy-1">
          <!-- Center elements -->
          <div class="col-md-6">
            <app-search></app-search>
          </div>
          <!-- Center elements -->
  
          <!-- Right elements -->
          <div class="col-md-6">
            <div class="d-flex float-end">
              <app-login-status></app-login-status>
              <!-- <app-wishlist-status></app-wishlist-status> -->
              <app-cart-status></app-cart-status>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
  
    <mat-drawer-container class="example-container" autosize >
      <mat-drawer #sidenav class="example-sidenav" mode="side" *ngIf="showSidenav" opened="true">
        <app-product-category-sidenav></app-product-category-sidenav>
      </mat-drawer>
      <div (click)="handleClose()">
        <router-outlet></router-outlet>
      </div>

      
    </mat-drawer-container>
    <!-- Footer -->
    <footer (click)="handleClose()" *ngIf="showFoot" class="text-center text-lg-start bg-light text-muted">
      <app-footer></app-footer>
    </footer>
    <!-- Footer -->
    
</div>
  
