<section class="bg-light my-10" style="padding: 5%;">
    <div class="container">
      <div class="row">
        <!-- empty Cart-->
        <div class="col d-flex justify-content-center">
          <div class="card mb-3 border shadow-0">
            <div class="card-body">
                <div class="card bg-dark text-white">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/017.webp" class="card-img" alt="Stony Beach"/>
                    <div class="card-img-overlay">
                      <h1 class="card-title">Exciting offers on the way</h1>
                      <p class="card-text">
                        
                        Thank you for being a member.Member discounts are coming soon!!
                      </p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- <div class="card bg-dark text-white">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/017.webp" class="card-img" alt="Stony Beach"/>
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Thank you for being a member.Member discounts are coming soon!!
      </p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div> -->